.c1{color:"white";
  font-size:7px;}
  .divf{
	         background-color:rgb(91, 52, 52  ,0.8) ;
	         border-radius:25px 22px;
           	border-style:inset outset ;
	        box-shadow: 2px 2px 3px 2px black;
         	margin-top: 95px; 	 
             width:400px;			
         }
		.divt{
	         background-color:rgb(224, 101, 101 ,0.9) ;
	        box-shadow: 2px 2px 3px 2px black;
         	margin-top: 45px; 	 
             width:250px;			
         }
         .divn{
	        box-shadow: 2px 2px 3px 2px black;
			border-radius: 15px;
         	margin-top: 45px; 
	border-style:inset outset ;			
             width:250px;			
         }
         .diva{
           background-color:rgb(91, 52, 52  ,0.8) ;
           border-radius:25px 22px;
            border-style:inset outset ;
        
          margin-top: 95px;    
             width:400px;     
         }
    .divb{
       background-color:rgb(252, 233, 220 ,0.8) ;
      border-radius: 15px;
          margin-top: 65px; 
  border-style:inset outset ;     
                  
         }
    .textbox{
	overflow: hidden;
	color: white;
	font-size: 14px;
	padding:8px 11;
	margin: 8px 11;
	border-color: rgb(224, 37, 54 ,0.0);
	border-bottom: 2px solid white;
	background: rgb(224, 37, 54 ,0.0);	
}
.textbox:hover{
	 box-shadow: 0px  3px rgb(180, 43, 43 ,0.8);
}
.button1:hover{
     box-shadow: 2px 2px 3px 2px #5F0707;	
}
::placeholder{ 
  color: #A4F0E3;
  opacity: 1; 	
}
.button1{
	width:25%;
	padding:5px;
	border-radius:15px;		
    color:white;
    background-color: rgb(196, 25, 25 ,0.9);
    border: transparent;
}
.bodyreg1{
	padding-top: 55px;
  background-image: linear-gradient(to right,#303D3C,#303D3C, #3F7E78,#3F7E78,#B7CAC8);
  color:white;
  font-size:16px;
  font-family:Arial;
}
td{
	
	border-radius:25px 22px;
}
.tdfont{
	 font-family:Monospace ;
}